<!-- team.html -->
<!-- Displays information regarding specific team -->

<div ng-if="justJoinedTeam.value == true">
    <div id="note">
        Successfully {{justJoinedTeam.message}} {{message}} <a id="close">[close]</a>
    </div>
</div>

<div class="box box-solid box-primary">
    <div class="box-header with-border">
        <h1>
            {{message}}
        </h1>
    </div>

    <div class="box-body">
        <div class="btn-group btn-group-justified" role="group" aria-label="toggle">
            <div class="btn-group" role="group">
                <button type="button" class="btn btn-default" ng-disabled="toggle==0" ng-click="toggle=0">Schedule</button>
            </div>
            <div class="btn-group" role="group">
                <button type="button" class="btn btn-default" ng-disabled="toggle==1" ng-click="toggle=1">Roster</button>
            </div>
        </div>
        <div ng-if="toggle==0">
        <div class="btn-group btn-group-justified" role="group" aria-label="days">
            <div class="btn-group" role="group">
                <button type="button" class="btn btn-default" ng-disabled="days==9999" ng-click="days=9999">All upcoming</button>
            </div>
            <div class="btn-group" role="group">
                <button type="button" class="btn btn-default" ng-disabled="days==7" ng-click="days=7">Next week</button>
            </div>
            <div class="btn-group" role="group">
                <button type="button" class="btn btn-default" ng-disabled="days==30" ng-click="days=30">Next month</button>
            </div>
        </div>

        <table class="table table-bordered">
            <tr>
                <th>Home Team</th>
                <th>Away Team</th>
                <th>Date</th>
            </tr>
            <tr ng-repeat="x in schedule | upComing:days">
                <td ng-class="{colored: x.home == message}">{{ x.home }}</td>
                <td ng-class="{colored: x.away == message}">{{ x.away }}</td>
                <td>{{ x.date | date:"MM/dd/yyyy 'at' h:mma" }}</td>
            </tr>
                      
        </table>
 
    </div>
    <div ng-if="toggle==1">
        <table class="table table-bordered">
            <tr ng-repeat="x in roster">
                <td >{{ x.name }}</td>
            </tr>
        </table>
    </div>
    </div>

</div>
