<!-- forgotPassword.html -->
<!-- Creates the forgot password view for the login modal -->
<div class="modal-body">
    <div class="center-align">
        <div class="login-title">
            <img src="../../resources/title-word.png" />
        </div>
        <div class="login-title-text">
            Forgot Password
        </div>
        <div class="input-divider-padding">
            <div class="login-divider"></div>
        </div>
        <div class="login-info">
            Please enter the email address associated with the account so we can help you reset your password.
        </div>
        <div class="input-padding">
            <input id="acctEmail" class="login-field" type="email" placeholder=" Email Address" />
        </div>
        <div class="input-padding">
            <button type="button" ng-click="cancel()" class="login-btn">Continue</button>
        </div>
        <div class="input-padding">
            <span class="login-cancel" ng-click="cancel()">Cancel</span>
        </div>
        <div class="page-extender"></div>
    </div>
</div>