/*login.css*/

.app-modal-window .modal-dialog {
    width: 100%;
    height: 100%;
    position: fixed;
    top: -12px;
    left: -3.5%; /*-20% for mobile*/
    border-radius: 0;
}

.login-title {
    padding: 35px 0 15px 0;
    font-size: 20px;
    font-family: 'Century Gothic', sans-serif;
}

.login-field {
    width: 80%;
    height: 37.5px;
    font-size: 15px;
    border-radius: 2px;
    padding: 0 10px;
}

.login-btn {
    width: 80%;
    height: 37.5px;
    font-size: 15px;
    border-radius: 2px;
    color: white;
    background-color: #97252B;
}

.login-forgot {
    padding: 20px 0;
    font-size: 15px;
}

.input-divider-padding {
    padding: 10px 0;
}

.login-divider {
    position: relative;
    left: 10%;
    width: 80%;
    height: 3px;
    background-color: #A4A4A4;
}

.signup-link {
    font-weight: bold;
    color: #97252B;
}

.signup-btn {
    width: 80%;
    height: 37.5px;
    font-size: 15px;
    border-radius: 2px;
    border-color: #97252B;
    color: #97252B;
    background-color: transparent;
}

.input-padding {
    padding: 10px 0;
}

.login-title-text {
    font-size: 20px;
}

.login-info {
    font-size: 15px;
    color: #424242;
    padding: 0 10%;
}

.login-cancel {
    color: #424242;
    font-size: 15px;
}

.page-extender {
    min-height: 500px;
    background-color: transparent;
    overflow: scroll;
}

.center-align {
    text-align: center;
}

.modal-close {
    font-size: 25px;
}

.gender-select {
    font-size: 15px;
    text-align: center;
}

.toggle-btn-grp { 
    margin:3px 0; 
}
.toggle-btn { 
    text-align:center; 
    padding: 8px 10px 0 0; 
    color:#000; 
    background-color:#FFF; 
    border-radius:2px; 
    display:inline-block; 
    border:solid 1px #CCC; 
    cursor:pointer;
    font-weight: 100;
}

.year-btn {
    text-align:center; 
    padding: 2px 5px 0 0; 
    color:#000; 
    background-color:#FFF; 
    border-radius:2px; 
    display:inline-block; 
    border:solid 1px #CCC; 
    cursor:pointer;
    font-weight: 100;
    width: 20%;
}

.year-btn:hover { 
    border:solid 1px #a0d5dc !important; 
    background:#f1fdfe;
}

.year-btn.success { 
    background:lightgreen;
    border:solid 1px green !important; 
}


.toggle-btn-grp.joint-toggle .toggle-btn { 
    border-radius:0;
    border-color: #BDBDBD;
}
.toggle-btn-grp.joint-toggle .toggle-btn:first-child { 
    margin-left:2px;
    width: 40%; 
    height: 40px;
    border-radius: 2px 0px 0px 2px; 
}
.toggle-btn-grp.joint-toggle .toggle-btn:last-child { 
    margin-right:2px;  
    width: 40%;
    height: 40px;
    border-radius: 0px 2px 2px 0px;
}


.toggle-btn:hover { 
    border:solid 1px #a0d5dc !important; 
    background:#f1fdfe;
}


.toggle-btn.success { 
    background:lightgreen;
    border:solid 1px green !important; 
}

input[type="radio"]:checked, input[type="radio"]:not(:checked) {
    visibility: hidden;
}

/* Join a Team */

.join-title {
    font-family: Helvetica Neue,Helvetica,Arial,sans-serif;
    text-align: center;
    font-size: 24px;
}

.join-select {
	height: 37.5px;
	text-align: center;
	padding: 7px 0px;
	font-family: Helvetica Neue,Helvetica,Arial,sans-serif;
	font-size: 18px;
}

.join-disclaimer {
	font-style: italic;
	text-align: center;
	position: relative;
	top: 20px; 
}

.join-btn {
    height: 37.5px;
	width: 100px;
    font-size: 18px;
    border-radius: 2px;
    color: white;
    background-color: #97252B;
	position: relative;
	top: 40px;
}

/* Create a Team */

.team-name-select {
	width: 200px;
	font-family: font-family: Helvetica Neue,Helvetica,Arial,sans-serif;
	font-size: 18px;
}
