html {
	height: 100%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background: #F3CD00;
    background-repeat:no-repeat;
    background: -webkit-linear-gradient( to bottom, #F9FB8D, #F3CD00);
    background: -moz-linear-gradient( to bottom, #F9FB8D, #F3CD00);
    background: -ms-linear-gradient( to bottom, #F9FB8D, #F3CD00);
    background: -o-linear-gradient( to bottom, #F9FB8D, #F3CD00);
    background: linear-gradient( to bottom, #F9FB8D, #F3CD00);

}



/* This section blocks any element with class='action1' from appearing on mobile.
	This particular phrasing is just testing, and may be changed at any time  */
.desktoponly{display:block;}
.mobileonly{display:block;}
@media (max-width : 1000px) {
	.desktoponly {display:none;}
}
@media(min-width : 1001px){
	.mobileonly {display:none;}
}

.page-bg {
	width: '100%';
	height: '500px';
	background-color: #FEFDF5;
	top: 300px;
	left: 50%;
	margin: 0 200px;
	z-index: 50;
}

.title {
	position: absolute;
	top: 35px;
	margin-left: 335px;
	z-index: -1;
}

#action1 {
	position: absolute;
	top: 200px;
	left: -200px;
	clip: rect(0px, 350px, 640px, 200px);
}

#knight {
	position: absolute;
	top: -180px;
	left: -180px;
	z-index: -1;
	opacity: .5;
	clip: rect(0px,500px,350px,0px);
}

.plain-text {
    background-color: transparent;
}

.app-modal-window .modal-dialog {
    width: 100%;
    position: fixed;
    top: -32px;
    /*left: -28.25%; /*-20% for mobile*/
    border-radius: 0;
}

.login-title {
    padding: 50px 0 75px 0;
}

.login-field {
    width: 80%;
    height: 85px;
    font-size: 50px;
    border-radius: 10px;
    padding: 0 25px;
}

.login-btn {
    width: 80%;
    height: 85px;
    font-size: 50px;
    border-radius: 10px;
    color: white;
    background-color: #97252B;
}

.login-forgot {
    padding: 20px 0;
    font-size: 40px;
}

.input-divider-padding {
    padding: 45px 0;
}

.login-divider {
    position: relative;
    left: 10%;
    width: 80%;
    height: 3px;
    background-color: #A4A4A4;
}

.signup-link {
    font-weight: bold;
    color: #97252B;
}

.signup-btn {
    width: 80%;
    height: 85px;
    font-size: 50px;
    border-radius: 10px;
    border-color: #97252B;
    color: #97252B;
    background-color: transparent;
}

.input-padding {
    padding: 35px 0;
}

.page-extender {
    height: 1200px;
    background-color: transparent;
    overflow: hidden;
}

.center-align {
    text-align: center;
}

.modal-close {
    font-size: 50px;
}