<!-- signup.html -->
<!-- Creates the view for the signup modal -->
    <div class="modal-body">
        <button type="button" class="close" ng-click="cancel()"><span class="modal-close">X</span></button>
        <div class="center-align">
            <div class="login-title">
                CALVIN INTRAMURALS
            </div>
            <div class="login-title-text">
                Create Account
            </div>
            <div class="input-divider-padding">
                <div class="login-divider"></div>
            </div>
            <div class="input-padding">
                <input class="login-field" type="text" placeholder=" First Name" />
            </div>
            <div class="input-padding">
                <input class="login-field" type="text" placeholder=" Last Name" />
            </div>
            <div class="input-padding">
                <input class="login-field" type="email" placeholder=" Email Address" />
            </div>
            <div class="input-padding">
                <input class="login-field" type="password" placeholder=" Password (case sensitive)" />
            </div>
            <div class="gender-select">
                <div class="toggle-btn-grp joint-toggle">
                    <label ng-click="" class="toggle-btn"><input type="radio" name="gender" ng-model="findGender" value="male" />Male</label>
                    <label ng-click="" class="toggle-btn"><input type="radio" name="gender" ng-model="findGender" value="female" />Female</label>
                </div>
            </div>
            <div class="year-select">
                <div class="toggle-btn-grp2 joint-toggle2">
                    <label ng-click="" class="year-btn"><input type="radio" name="year" ng-model="findYear" value="fr" />Fr</label>
                    <label ng-click="" class="year-btn"><input type="radio" name="year" ng-model="findYear" value="so" />So</label>
                    <label ng-click="" class="year-btn"><input type="radio" name="year" ng-model="findYear" value="jr" />Jr</label>
                    <label ng-click="" class="year-btn"><input type="radio" name="year" ng-model="findYear" value="sr" />Sr</label>
                </div>
            </div>
            <div class="input-padding">
                <button type="button" ng-click="cancel()" class="login-btn">Sign Up</button>
            </div>
            <div class="page-extender"></div>
        </div>
    </div>
